/* src/styles/spinner.scss */
.spinner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* Fundo semi-transparente */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Garantir que o Spinner esteja acima dos outros conteúdos */
}

.spell-container {
  position: relative;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #c43a3a; /* Cor vermelha do projeto */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

